$yellow: #fff200;
$orange: #fcb040;
$robotoMono: 'Roboto Mono', monospace;
$allerta: 'Allerta Stencil', sans-serif;
$roboto: 'Roboto', sans-serif;

.allerta {
    font-family: $allerta;
}
.robotoMono {
    font-family: $robotoMono;
}

* {
    font-family: $roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
a:visited,
a:focus {
    color: #000;
    text-decoration: none;
}

// HEADER
header {
    background: $yellow;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid $orange;
}
header section {
    max-width: 600px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
h1 {
    height: 120%;
    transform: translateY(-10%);
    padding-left: .5em;
}
h1 svg  {
    height: 100%;
}
h1 span {
    display: inline-block;
    line-height: 60px;
    transform: translateY(-40%);
}
@media only screen and (min-width: 550px) {
    .lrg {
        display: none;
    }
}
@media only screen and (max-width: 549px) {
    .sml {
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .sml, .all {
        display: none;
    }
}

nav {
    position: absolute;
    right: 0.5em;
    top: .5em;
    height: calc(100% - 1em);
    width: 70%;
}
nav ul {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline-block;
    line-height: calc(60px - 1em);
    padding-left: 1em;
}

// MAIN
main {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 1em;
    margin-top: 60px;
}
.content {
    padding: 0 1em 1em;
}
img {
    max-width: 100%;
    margin-bottom: 2em;
}
h2 {
    padding: 1em 0 .4em;
    font-family: $allerta;
}
p {
    padding: 0;
    margin-bottom: 1em;
    a {
        color: $orange;
        text-decoration: underline;
    }
}
main ul {
    list-style: none;
    margin-bottom: 1em;
}
main li {
    padding: 0 0 .4em;

    span {
        width: 3.7em;
        display: inline-block;
    }
}
.grid {
    display: block;
    margin-top: 2em;
    overflow: visible;
    position: relative;
    float: left;
}
.item {
    width: 100%;
    margin-bottom: 1em;
}
@media only screen and (min-width: 450px) {
    .grid {
        width: 100%;
        margin-left: -1em;
    }
    .item {
        float: left;
        width: calc(50% - 1em);
        display: block;
        margin-left: 1em;
    }
}
.box {
    border: 3px solid $orange;
    background: $yellow;
    display: block;
    padding: 1em 1em 0;
    height: 100%;
    h2 {
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 0;
    }
    hr {
        width: calc(100% - 2em);
        margin: .5em auto 1em;
        opacity: .1;
    }
}
@media only screen and (min-width: 400px) {
    
    .box {
        margin: 0 0 1em;
    }
}

footer {
    background:#ff000d;
    color: white;
    text-align: center;
    padding: 1em 0;
    float: left;
    width: 100%;
    overflow: hidden;
}